.container {
    background-image: url('../../assets/background-01.png');
    background-size: cover;
    background-repeat: no-repeats;
    height: fit-content;
    min-height: 92vh;
    /*width: 100vw;
    margin: 0px; */
    /* height: 92vh; */
}

.container>h1{
    padding-left: 3%;
    padding-top: 2%;
    margin: 0px;
}