.list>h1 {
  padding-left: 3%;
}

.trainings {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  margin-top: 10px;
  overflow-y: auto;
}

.training-form {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.training-form * {
  margin-right: 15px;
}